.top-navbar {
  transition: background-color 0.3s, box-shadow 0.3s;
  background-color: #020815;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  padding: 4px;
  top: 0;
  left: 0;
  width: 100%;
  max-width: none;
  z-index: 100;
  height: 40px;
  box-sizing: content-box;

  .logo {
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 7px 0 10px 10px;
    max-width: 97px;

    img {
      display: inline-block;
      height: 100%;
    }
  }
}

.edge-wrap {
  padding: 15px;
  box-sizing: border-box;
  float: left;
  height: 100%;
  display: inline-block;
}

.bg-top {
  background-position: top;

  .h-14 {
    height: 3.5rem !important;
  }

  .h-80 {
    height: 20rem !important ;
  }
}

.bg-cover {
  background-size: cover;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.z-30 {
  z-index: 30 !important;
}

.w-auto {
    width: auto;
}
